[color]
	ui = auto

[core]
	excludesfile = ~/.gitignore_global

[include]
	path = ~/.gitconfig.local

[alias]
	# copied from: https://www.colinodell.com/blog/201803/four-useful-git-aliases
	fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autostash --autosquash $REV^' -
  kdiff = difftool --no-prompt --trust-exit-code --no-symlinks --dir-diff --tool=kdiff

[credential]
	helper = osxkeychain

[difftool "kdiff"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
