snippet fakei "fake int" i
`!v fake#int()`
endsnippet

snippet fakem "fake male name" i
`!v fake#gen('male_name')`
endsnippet

snippet fakef "fake female name" i
`!v fake#gen('female_name')`
endsnippet

snippet faken "fake nonsense word" i
`!v fake#gen('nonsense')`
endsnippet

snippet fakew "fake word" i
`!v fake#gen('word')`
endsnippet
