snippet fakeint
`!v fake#int()`
endsnippet

snippet fakemale
`!v fake#gen('male_name')`
endsnippet

snippet fakefemale
`!v fake#gen('female_name')`
endsnippet

snippet fakenonsense
`!v fake#gen('nonsense')`
endsnippet
