snippet co
const ${1} = ${2};
endsnippet

snippet re
require('${2}')
endsnippet

snippet as
async (${1}) => {
  ${2}
}
endsnippet

snippet =>
(${1}) => {
  ${2}
}
endsnippet

snippet de
describe('${1}', () => {
  ${2}
})
endsnippet

snippet it
it('should ${1}', () => {
  ${2}
})
endsnippet

snippet mo
module.exports = {
  ${1},
}
endsnippet
